<h1>Create your review</h1>
<%= simple_form_for([@restaurant, @review]) do |f| %>
  <%= f.input :content, input_html: {data: {controller: "hello"}} %>
  <%= f.input :rating, collection: (0..5).to_a, input_html: {data: {controller: "star-rating"}} %>
  <%= f.submit %>
<% end %>
